@mixin boton-generic-format($color) {
    background-color: $color;
    border: 1px solid darken($color, 10%);
    box-shadow: 2px 2px 5px $color;
    /*
    &:active{}
    &:hover{}
    */
    
}
.boton{
    @include boton-generic-format($GreyColor);
    font-size:16px;
    padding:10px 10px;
    color: #ffffff;
    margin:20px 0;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

@each $format, $color in $format_variations{
    .boton--#{$format}{
        @include boton-generic-format($color);
    }
}

@for $i from 1 through length($tamanyos){
    .boton--#{nth($tamanyos,$i)}{
        font-size:10px+$i*2px;
        padding:4px+$i*2px;
        border-radius:4px+$i*1px;
    }
}

