$background-color:#f8f8f8;
$color:#777;
$border-color:#e7e7e7;
$padding: 12px;

.navbar {
    background-color: $background-color;
    border: 1px solid $border-color;
    display: block;
    width: 100%;
    float:left;
    padding-left: 20px;
    padding-right: 20px;
}
.responsive-navbar__button {
    float:right;
    cursor: pointer;
    margin-top: 20px;
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
    font-size: 200%;
}
.responsive-navbar__title {
    text-decoration: none;
    color: $color;
    line-height: 80px;
    font-size: 200%;
    float: left;
}
.responsive-navbar__menus {
    background-color: $background-color;
    line-height: 60px;
    margin-left: 20px;
}
.responsive-navbar__menu {
    list-style: none; 
    float:left;
}
.responsive-navbar__menu--right{
    float:right;
}
.responsive-navbar__item {
    display: inline-block;
    &:hover{
        background-color: darken($background-color,10%);
        color:white;
    }
}
.responsive-navbar__link {
    text-decoration: none;
    color: $color;
    padding: $padding;
    display: block; 
}



