$background-color: #f8f8f8;
$color: #777;
$borderColor:#e7e7e7;
$padding: 12px;

.navbar{
    background-color: $background-color;
    padding: $padding;
    border: 1px solid $borderColor;
    width:100%;
    float:left;
    display:block;
}
.responsive-navbar{
    padding:15px;
}
.responsive-navbar__button{
    border: 1px solid $borderColor;
    border-radius: 5px;
    background-color: $background-color;
    padding: $padding;
    font-size:100%;
    float:right;
}
.responsive-navbar__title{
    text-decoration: none;
    color: $color;
    font-size: 200%;
}
.responsive-navbar__menus{
    padding:0;
    //font-size: 200%;
}
.responsive-navbar__menu{
    list-style: none;
    padding: $padding;
    border: 1px solid $borderColor;
}
.responsive-navbar__item{
    padding: $padding;
    line-height: 20px;
}
.responsive-navbar__link{
    text-decoration: none;
    display:block;
    color: $color;
}

@media (min-width:750px){
    .responsive-navbar__menus--right{
       float:right;
       display:inline-block;
    }   
    .responsive-navbar__menus--left{
        display:inline-block;
    }
    .responsive-navbar__menu--right{
        float:right;
    }
    .responsive-navbar__menu--left{
        float:left;
    }
    .responsive-navbar__item--right{
        float:right;
    }
    .responsive-navbar__item--left{
        float:left;
    }
    .responsive-navbar{
        display: inline-block;
    }
    .responsive-navbar__button{
        display: none;
    }
    
}
