$GreyColor:#b3acac;
$NumCambioColor:10%;
$functionalities:(primary,#337ab7),(success,#5cb85c),(info,#5bc0de),(warning,#f0ad4e),(error,#d9534f);
$tamanyos:(xs),(s),(m),(l),(xl);
$menuLevel0Color:#4D5158;
$menuLevels:(0,$menuLevel0Color),(1,#35383D),(2,#27282B);
$textAligns:(left),(center),(right);




