$GreyColor:#b3acac;
$NumCambioColor:10%;
$tamanyoScreenXS:0;
$tamanyoScreenSM:750px;
$tamanyoScreenMD:970px;
$tamanyoScreenLG:1170px;
$functionalities:(primary,#337ab7),(success,#5cb85c),(info,#5bc0de),(warning,#f0ad4e),(error,#d9534f);
$tamanyosComponents:(xs),(s),(m),(l),(xl);
$tamanyosScreen:(xs,$tamanyoScreenXS),(sm,$tamanyoScreenSM),(md,$tamanyoScreenMD),(lg,$tamanyoScreenLG);
$menuLevel0Color:#4D5158;
$menuLevel1Color:#35383D;
$menuLevels:(0,$menuLevel0Color),(1,$menuLevel1Color),(2,#27282B);
$textAligns:(left),(center),(right);
$defectColorPanelBody:#b3acac;
$social-colors:(twitter,#41b7d8),(FB,#3b5997),(GooglePlus,#d64937),(Linkedin,#0073b2),(Youtube,#cc0000),(Pinterest,#DF7061);
$socialTamanyos:(xs,$tamanyoScreenXS,80%),(sm,$tamanyoScreenSM,60%),(md,$tamanyoScreenMD,50%),(lg,$tamanyoScreenLG,30%);




