.header{
    background-color: #fff;
    margin-bottom: 20px;
}
.header-menus{
    margin:10px 0;
    border-right: 1px solid lightgray;
}
.header_boton-importante{
    padding:10px;
    text-align: center;
}

