.cabecera {
  text-align: center;
  background-color: lightblue;
  padding: 10px;
  margin: 0px;
  color: white;
  font-size: 24px; 
}
.pie {
  background-color: lightblue;
  text-align: center; 
}
.contenedor {
  padding: 0 10px;
  text-align: center;
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRZHEN24K4-uSdOh9RuoIyy6GtkX0THX2t5lWtakE5cMQsDldpMtA");
  height: 2000px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*probando2*/
}

