.main-menu:after {
    content: "";
    clear:both;
    display: block;
}
 
.main-menu__item {
    padding: 10px;
    color:#ffffff;
    background-color:lightgray;
    text-decoration: none;
    border-left:1px solid #000000;
}
.main-menu__item:first-child{
    border-left:0;
}

.main-menu__link{
    text-decoration: none;
    color:#000000;
}
 
.main-menu__hamburger {
    padding: 10px;
    color:#ffffff;
    background-color: #c0c0c0;    
}

@media  (max-width: 749px) {
    .main-menu__item {
        float:none;
        display:none;
    }
    .main-menu__hamburger {
        display: inline-block;
    }
    .main-menu {
        position:absolute;
        top:10px;
        left:0px;
    }
    .main-menu__item--visible {
        display:list-item;
    }
    .main-menu__item--hide {
        display:none;
    }
}
@media  (min-width: 750px) {
    .main-menu__item {
        float:left;
        display:list-item;
    }
    .main-menu__hamburger {
        display: none;
    }
    .main-menu {
        position:absolute;
        top:10px;
        left:0px;
        //display:block;
    }
}

