.noticia{
    padding: 10px ;
}
.noticia__imagen{
    width:100%;
    height: auto;        
}
.noticia__title{
    font-size: 25px;
    margin-top:15px;
    margin-bottom: 30px;    
}
.noticia__content{
    font-size:20px;
    color:#000;
    display:block;    
}



