*{
    box-sizing: border-box;
}
.vertical-menu{
    padding: 0;
    margin:0;
}
.vertical-menu__item{
    list-style:none;
    color:white;
    /*padding: 10px 0px;*/        
}
.vertical-menu--close{
    display:none;
}
.vertical-menu__item--0{
    background-color: #4D5158;
}
.vertical-menu__item--1{
    background-color: #3F4248;
    margin:0;
}
.vertical-menu__link{
    display:block;
    background-color: red;
    padding:10px 0px;
}
.vertical-menu__link:before{
    font-family: FontAwesome;
    content:"\f115";
    padding: 10px;
}
.vertical-menu__link:after{
    font-family: FontAwesome;
    content:"\f0d8";
    float:right;
    padding: 0 10px; 
}
/*.vertical-menu__item--open:before{
    font-family: FontAwesome;
    content:"\f115";
    padding: 10px;   
}
.vertical-menu__item--open:after{
    font-family: FontAwesome;
    content:"\f0d8";
    float:right;
    padding: 10px; 
}
.vertical-menu__item--close:before{
    font-family: FontAwesome;
    content:"\f114";
    padding: 0 10px;   
}
.vertical-menu__item--close:after{
    font-family: FontAwesome;
    content:"\f0d7";
    float:right;
    padding: 0 10px;
}
.vertical-menu__item--document:before{
    font-family: FontAwesome;
    content:"\f016";
    padding: 10px;   
}*/
/*a{
    background-color: red;
    display:block;
}*/